/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-priv {
    height: 77px;
    align-items: center;
}

.navbar {
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
  
.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    max-width: 60%;
}

.navbar li {
    display: inline;
    margin-right: 20px;
    align-self: baseline;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.search-bar {
    height: 36px;
    border: 0;
    color: #2f2f2f;
    padding: 0 8px;
    border-radius: 18px;
}

.search-btn {
    margin-left: 8px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: 1px solid #fff;
    border-radius: 18px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #555;
}

.container {
    margin-top: 80px;
    padding: 20px;
}

.login-main-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.login-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 450px;
}

.new_user {
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.new_user h2 {
    text-align: center;
    margin-bottom: 20px;
}

.new_user input[type="email"], .new_user input[type="email"], .new_user input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin-right: -120px;
}

.login-container a {
    text-decoration: none;
    color: #333;
}

.login-container a:hover {
    text-decoration: underline;
}

.logout-form {
    display: flex;
}

.logout-btn {
    right: 0;
    position: fixed;
    margin-right: 32px;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: 1px solid #fff;
    border-radius: 18px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #555;
}

.logout-btn-priv {
    margin-top: -20px;
}

.table-container {
    width: 80%;
    margin: auto;
}

.table-header {
    display: flex;
    justify-content: space-around;
}

.categories-container {
    width: 40%;
    border-collapse: collapse;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: #333;
    color: white;
    padding: 10px;
}

.table td {
    border: 1px solid #ccc;
    padding: 10px;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.new-admin-btn {
    height: 20px;
    align-self: center;
}