/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}
  
.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    max-width: 60%;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.container {
    margin-top: 50px;
    padding: 20px;
}

.login-main-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.login-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 450px;
}

.new_user {
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.new_user h2 {
    text-align: center;
    margin-bottom: 20px;
}

.new_user input[type="email"], .new_user input[type="email"], .new_user input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-links {
    display: flex;
    justify-content: space-between;
    margin-right: -120px;
}

.login-container a {
    text-decoration: none;
    color: #333;
}

.login-container a:hover {
    text-decoration: underline;
}